@charset "ISO-8859-1";
#body{
	background:url("../images/plane.jpg");
	background-size: 500px 250px;
	/* background-size:cover; */
	/* background-color: #71e4c4; */
	/* background-color:#ccdadc; */
	background-color:#818b8c;
	
	background-repeat:no-repeat;
	background-position: 300px 200px;
	margin-top:30px;
	
	
}

h1{
	text-align: center;
	color:white;
	font-family: sans-serif;
	
}
/* p{
	background-color:white;
	padding:15px;
	border-radius:10px;
	
} */
p a{
	background-color:#e8f0ee;
	padding:7px;
	border-radius:10px;
	text-decoration: none;
	/* padding-left: 10px;
	padding-right:10px; */
	color:black;
	margin-top:50px;
	
}
p a:hover {
	/* background-color: #ec5cdc; */
	box-shadow:0 0 10px black;
	
}
div{
	margin:70px auto;
	/* margin-left:350px; */
	/* background:linear-gradient(45deg,darkred,black,darkred); */
	background-color:#e48282;
	width:400px;
	padding:20px;
	border-radius:20px;
	color: white;
	
}
div tr td{
	color:white;
	margin-left:30px;
	font-size: 18px;
}
div input {
	outline: none;
	font-size: 15px;
	margin:10px 0px;
	margin-left:10px;
	border: none;
}
div input[type="submit"] {
	margin-left:50px;
	width:80px;
	padding:5px;
	border-radius:10px;
}
div table {
	margin:30px auto;
}
/* span{
  color:white;
  margin:20px auto;
} */

div span{
	margin-left:150px;
}
#addplane{
	margin:20px auto;
	/* margin-left:350px; */
	/* background:linear-gradient(45deg,darkred,black,darkred); */
	background-color:#e48282;
	width:800px;
	padding:20px;
	border-radius:20px;
	color: white;
	
}
#div {
	margin:80px auto;
	/* margin-left:350px; */
	/* background:linear-gradient(45deg,darkred,black,darkred); */
	/* background-color:#e48282; */
	width:600px;
	padding:30px;
	border-radius:20px;
	color: white;
}
#table td{
	text-align: center;
}
#table td a{
	background-color: white;
	text-decoration: none;
    width:50px;
	padding:1px;
	border-radius:5px;
}
